@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center p-4">
    <h1 class="display-3">Comparador de Preços na Internet</h1>
    
    <figure class="figure text-center w-50 p-3">
        <img src="~/images/carrinho.png" class="figure-img img-fluid" alt="Carrinho de Compras" />
    </figure>
</div>
